@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8eb1c2;
}

#container {
    width: 370px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #365563;
    margin-top: 90px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 15px 0;
}

button {
    width: 55px;
    height: 55px;
    font-size: large;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #acc8d7;
    background-color: #6699cc;
    transition: 0.5s ease-in-out;
}

#displayContainer {
    width: 280px;
    margin: 10px 0;
}

#displayStatement,
#displayValue {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    padding: 5px;
}

#displayStatement {
    font-size: 18px;
    height: 31px;
}

#displayValue {
    font-size: 30px;
    height: 44px;
}