@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 90px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px 0;
}

button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: large;
}

#displayContainer {
    width: 280px;
}

#displayStatement,
#displayValue {
    display: flex;
    justify-content: right;
    background-color: white;
    padding: 5px 10px;
}

#displayStatement {
    color: white;
    margin-top: 18px;
    font-size: 18px;
}

#displayValue {
    font-size: 30px;
}